@font-face {
    font-family:'SourceBold';
    src:url('../fonts/SourceSansPro-Bold.ttf');
}
@font-face {
    font-family:'SourceSemiBold';
    src:url('../fonts/SourceSansPro-SemiBold.ttf');
}
@font-face {
    font-family:'SourceRegular';
    src:url('../fonts/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family:'SourceLight';
    src:url('../fonts/SourceSansPro-Light.ttf');
}
@font-face {
    font-family:'SourceBlack';
    src:url('../fonts/SourceSansPro-Black.ttf');
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'SourceRegular';
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
}
.container-fluid{
    padding: 0;
}
.blue{
    display: block;
    background: #022869;
    width: 100%;
    padding: 3em 0;
}
.red{
    color: #C2113B !important;
}
h1{
    font-family:'SourceBold';
    font-size: 2.2em;    
    text-align: center;    
}
h2{
    font-family:'SourceBold';
    font-size: 1.7em;
    text-align: center;
    color: #ffffff;
    max-width: 700px;
    margin: 0 auto;
}
h2 span{
    display: block;   
    height: 6px;
    width: 85px;
    margin: 1em auto; 
    background:#b20e35 ;
}
.left{
    height: 100vh;
    overflow: hidden; 
}
.right{
    height: 100vh;
    overflow: hidden; 
}
.logo{
    padding-top: 120px;
    padding-bottom: 85px;
    max-width: 390px;
    margin: 0 auto;
    display: block;
}
.logo-left{
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 200px;
    margin: 0 auto;
    display: block;
}
.blue-menu{
    background: #011e52;
    padding: 0;
}
.red-menu{
    background: #651D32;
    padding: 0;
}
.cerrar{
    font-family:'SourceRegular';
    background: #0065BA;
    padding: 0 0 1em;
    text-align: center;
    color: #ffffff;
}
.cerrar img{
    padding-top: 1.5em;
}
.cerrar a{
    font-family:'SourceSemiBold';
    background: #ffffff;
    text-transform: uppercase;
    color: #022869;
    padding: 3px 0px 3px 10px;
    display: block;
    max-width: 140px;
    margin: 1em auto;
    text-decoration: none;
    border-radius: 5px  ;
    font-size: 1.1em;
    background-image: url(../img/cerrar.png);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 5px;
}
.cerrar a:hover{
    color: #14DFFF;
    background-image: url(../img/cerrar-claro.png);
}
.cerrar p a{
    background: transparent;
    color: #ffffff;
    padding: 0;
    margin: 0 auto;
    text-transform: none;
}
.cerrar p a:hover{
    color: #ffffff;
    background-image: none;
}
.cerrar a img{
    padding: 0;
    margin-right: 5px;
}
.gray-menu{
    background: #dadada;
    padding: 0;
    padding-top: 2em;
}
.gray-menu .box-buttons a{
    margin: 0 auto 1em auto;
}
.blue-menu h2,.red-menu h2{
    font-size: 1.2em;
    max-width: 235px;
    margin: 0 auto;
    padding: 1em 0;
}
.blue-menu .accordion h2{
    padding: 0;
    font-family: 'SourceRegular';
}
.blue-menu .accordion-item {
    background-color: #011e52;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.blue-menu .accordion-button:focus{
    border: none;
    box-shadow: none;
}
.blue-menu .accordion-body {
    padding: 0;
}
.blue-menu .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23022869'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");    
}
.box-select{
    background: #022869;
    display: block;
    width: 100%;
    padding: 0.5em 1.4em;
}

.box-message{
    cursor: pointer;
    border-left: 4px solid #0065ba;
    background: rgb(0,31,82);
    background: linear-gradient(90deg, rgba(0,31,82,1) 0%, rgba(1,54,122,1) 35%); 
}
.box-message:hover,.box-message.activo{
    border-left: 4px solid #14DFFF;
}
.box-message a{
    color: #ffffff;
    font-size: 1.2em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: block;
}
.box-message ul li::before {
    content: "\2022";
    color:#fff;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.box-message ul{
    padding: 1em 2em;
}
.box-message ul li a{
    text-align: left;
    padding: 1em 0;    
    display: inline;
}
.box-message a.activo:hover{
    font-weight: 600;
    text-shadow: 2px 2px 2px black;
    color: #ffffff;
}
.btn-group{
    width: 100%;
}
.btn-group .box-buttons{
    padding: 0;
    width: 75%;
}
.menu-selector{
    display: block;    
    width: 100%;
    height: 35px;
    margin: 1em auto;
    background: #ffffff;
    color: #022869;
    text-align: left;
    padding: 0.5em 0;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 0.5em;    
    box-shadow: 1px 1px 5px rgba(19, 19, 19, 0.863);
    max-width: 225px;
    position: relative;
}
.menu-selector.activo{
    background: #0065BA;
    color: #ffffff;
}
.menu-selector:hover{
    background: #0065BA;    
}
.menu-selector:hover a{
    color: #ffffff;
}
.menu-selector:hover img{
    filter:brightness(0) invert(1);    
}
.blue-menu .menu-selector:hover .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.menu-selector.activo .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");    
}
.menu-selector img{
    width: 18px;
    margin-left: 10px;
    margin-right: 5px;
}
.menu-selector button{
    position: absolute;
    display: inline-flex;
    width: max-content;
    padding: 0;
    margin-left: 1em;
    right: 10px;    
    top: 7px;
}
.menu-selector .accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: transparent;
    box-shadow: none;
}
.menu-selector a{
    position: absolute;
    left: 0;
    color: #022869;
    text-decoration: none;
    padding-bottom: 0.2em;
    font-size: 0.7em;
}
.menu-selector.activo a{
    color: #ffffff;
}
.menu-selector .accordion-button{
    background: transparent;
}
.box-buttons{    
    padding: 0 0 1.5em 0;    
}
.box-buttons a{
    display: block;
    width: 90%;
    margin: 1em auto;
    background: #ffffff;
    color: #022869;
    text-align: left;
    padding: 0.5em 0;
    text-decoration: none;
    font-size: 1.05em;
    border-radius: 0.5em;
    max-width: 245px;
    box-shadow: 1px 1px 5px rgba(19, 19, 19, 0.863);
}

.accordion-header .box-buttons a{
    margin: 1em auto 0em 5px;
    font-size: 1.1em;
}
.box-buttons a.blue-bg{
    background: #022869;
    color: #ffffff;
}

.box-buttons a.activo{
    background: #0065BA;
    color: #ffffff;
}
.box-buttons a.hblue:hover{
    background: #0065BA;
    color: #ffffff;
}
.box-buttons a.hred:hover{
    background: #EF184B;
    color: #ffffff;
}
.box-buttons a.hred:hover span{
    color: #ffffff;
}
.box-buttons a.hblue:hover img,.box-buttons a.hred:hover img{
    filter:brightness(0) invert(1);    
}
.box-buttons a.activo-red{
    background: #EF184B;
    color: #ffffff !important;
}
.box-buttons a.btn-light-blue{
    background: #0065ba;
    color: #ffffff;
    border-radius: 10px;
    width: 100%;
    padding: 0.5em 0.5em;
    margin: 1em auto;
    max-width: 245px;
    box-shadow: 1px 1px 5px rgba(19, 19, 19, 0.863);
}
.box-buttons img{
    width: 18px;
    margin-left: 10px;   
    margin-right: 5px; 
}
.red-menu .box-buttons a{
    color: #464646;
}
.red-menu .box-buttons{
    background: #651D32;
}
.imagen{
    background: #e8f0f9;
    padding-top: 1em;
}
.login{
    max-width: 615px;
    margin: 0 auto;
}
.login h3{
    font-family:'SourceRegular';
    color: #a6a6a6;
    font-size: 2em;
    margin-bottom: 1em;
}
.form-label{
    font-family:'SourceSemiBold';
    font-size: 1.4em;
    color: #a6a6a6;
    padding: 0.5em 0;
    max-width: 550px;
    margin: 0 auto;
    display: block;
    width: 100%;

}
.form-control{
    max-width: 550px;
    margin: 0 auto;
    height: 60px;
    border-radius: 0.8em;
}
.separador-25{
    height: 25px;
}
.separador{
    height: 100px;
}
.btn-dash{
    font-family:'SourceBlack';
    background: #022869;
    color: #ffffff;
    width: 230px;
    letter-spacing: 5px;
    padding: 0.5em 0;
    text-transform: uppercase;   
    border-radius: 0.8em; 
    max-width: 100%;
    font-size: 25px;
}
.btn-dash:hover{
    color: #ffffff;
}
.olvido{
    color: #b20e35;
    text-align: center;
    font-size: 1.3em;
    margin-top: 0.8em;
    cursor: pointer;
    width: 100%;
    padding: 0 0.8em;
}
.modal-header{
    position: relative;
    border: none;
}
.close{
    position: absolute;
    top: 0.5em;
    right: 0.5em;    
}
.close img{
    max-width: 30px;
}
.modal-header h5{
    text-align: center;
    font-size: 3.3em;
    color: #022869;
    font-weight: lighter;
    line-height: 1.1em;
}
.modal-header h5 span{
    display: block;   
    height: 6px;
    width: 85px;
    margin: 1em auto 0; 
    background:#b20e35 ;
}
.modal-body p{
    font-size: 1.8em;
    text-align: center;
    font-weight: lighter;
    color: #022869;
    width: 90%;
    margin: 0 auto;
}
.modal-body form{
    margin: 2em auto;
}
.modal-body button{
    display: block;
    margin: 2em auto;
}


/*Contenido*/
.columna1 {
    float: left;
    width: 10%;
    min-width: 250px;     
} 
.columna2 {
    float: left;
    width: calc(100vw - 300px);
    margin-left: 20px;
}  
  /* Clear floats after the columns */
.fila:after {
    content: "";
    display: table;
    clear: both;
}
.menu-lateral{
    width: 250px;
}
.box-title{
    background: #ffffff;
    box-shadow: 1px 1px 10px #a6a6a6b6;
    margin: 2em auto 0 0;
    border-radius: 1em;
    color: #022869;
    width: 100%;
}
.box-title.red{
    color: #C2113B;
}
.box-title h1 {
	font-size: 2em;
	padding: 0.8em 0;
	margin: 0 auto;
	width: 59%;
    text-transform: uppercase;
}
.box-title.red h2{
    color: #474747;
}
.box-title .linea{
    height: 1px;
    width: 100%;
    display: block;
    background:#dedede;
}
.box-title h2{
    font-family:'SourceRegular';
    color: #022869;
    max-width: 80%;
    padding: 1em 0;    
}
.blue-info{
    background: #022869;
    border-radius: 0.8em;
    width: 100%;
    margin-top: 1.5em;
    height: 170px;
}
.blue-info.red-bg{
    background: #651D32;
    height: 200px;
}

.blue-info .col-8{
    border-right: 1px solid #ffffff;
}
.blue-info .col-9{
    border-right: 1px solid #ffffff;
}
.blue-info .info-box{    
    padding: 1em 0;
    margin: 1em auto;
    max-width: 330px;   
    position: relative; 
}
.blue-info .info-box.init{
    margin-left: 4em;    
}
.blue-info .info-box.middle{
    margin-left: -5em;
}
.blue-info .info-box.middle-red{
    margin-right: -5em;
}
.blue-info .col-8.last{
    border-right: none;
}
.blue-info .col-9.last{
    border-right: none;
}
.blue-info.comparacion{
    height: auto;    
    padding-bottom: 1.3em;
}
.blue-info.comparacion.white-bg{
    background: #ffffff;
    box-shadow: 1px 1px 10px #a6a6a6b6;
    height: auto;    
    padding-bottom: 1.3em;
}
.info-box .row:first-of-type{
    margin-left: 5px;
}
.info-box .pin{    
    position: absolute;
    top: 25px;
    left: 30px;
}
.info-box .pin img{
    width: 65px;
}
.info-box p{
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    text-align: center;
    height: 46px;
    font-weight: 700;
}
.red-bg .info-box p{    
    margin: 1em 0 0 0;    
    height: 65px;    
}
.info-box .numero{
    font-family:'SourceBold';
    font-size: 3.8em;
    color: #ffffff;    
    text-align: center;
    margin-top: 7px;
}
.adicional{
    font-family:'SourceSemiBold';
    background: #0065ba;
    border-radius: 0.8em;
    width: 100%;
    margin-top: 1.5em;
    padding: 0.4em 0;
    max-width: 260px;
    margin-right: 0;
    margin-left: auto;
    height: 170px;
}
.adicional.red-bg{
    background: #C2113B;
    height: 200px;
}
.adicional p{
    font-family:'SourceBold';
    color: #ffffff;
    font-size: 1.6em;
    text-align: left;
    margin-left: 0.8em;
}
.adicional span{
    color: #0065ba;
    margin-right: 0.5em;
}
.adicional.red-bg span {
    color: #C2113B;
    margin-right: 0.5em;
}
.adicional .box-buttons{
    padding: 0.2em 0;
}
.adicional .box-buttons a {	
	color: #474747;
}
.util-box{
    background: #ffffff;
    box-shadow: 1px 1px 10px #a6a6a6b6;
    margin-top: 2em;
    border-radius: 1em;
    padding-bottom: 0.8em;
}
.util-box.blue-bg{
    background: #022869;    
    position: relative;
    padding: 0 1.5em;    
    margin-right: 0;
    margin-left: auto;
    height: 400px;
}
.util-box.blue-bg.hg{
    height: 450px;
}
.util-box.red-bg{
    background: #C2113B;
}
.util-box.blue-bg h4,
.util-box.red-bg h4{
    font-family:'SourceBold';
    color: #ffffff;
    text-transform: uppercase;    
}
.util-box.blue-bg h4.border-aux
{
    margin-left: 0;
    border-bottom: 1px solid #a6a6a6;
}
.util-box.red-bg h4.border-aux-w{
    margin-left: 0;
    border-bottom: 1px solid #ffffff;
}
.util-box.red-bg p{
    color: #ffffff;
    font-size: 1.2em;
    width: 90%;
    margin: 0 auto;
}
.util-box.columnas{
    height: 100%;
    max-height: 830px;
}
.grf{
    position: relative;
}
.chart{
    max-width: 630px;
    margin: 0 auto;
    height: 312px;
}
.chart.br{
    position: absolute;
    bottom: 70px;
    left: 50%;
    width: 100%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
.respuesta{
    font-family:'SourceBold';
    background: #ffffff;
    box-shadow: 1px 1px 5px rgba(19, 19, 19, 0.863);
    border-radius: 0.2em;
    font-size: 4.2em;
    max-width: 250px;
    margin: 0.6em auto;
    padding: 0.15em 0;
    text-align: center;
    line-height: 1em;
}
.respuesta.empty{
    box-shadow: none;
    margin: 0 auto 0.5em;    
}
.respuesta.small-text{
    font-size: 2em;
    padding: 0.8em;
}
.respuesta-aux{
    font-family:'SourceBold';
    background: #ffffff;
    box-shadow: none;
    border-radius: 0.2em;
    font-size: 2em;
    max-width: 250px;
    margin: 0.7em auto;
    padding: 0.3em 0;
    text-align: center;
    line-height: 1em;
} 
.mapa h4{
    font-family:'SourceBold';
    color: #022869;    
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 1.7em;
    padding-top: 20px;
}
.mapa p{
    margin-left: 20px;
    color: #464646;
    font-size: 1.4em;
}
.adj-width{
    width: 70%;
    margin: 0 auto;
}
.red-bg .mapa h4{
    color: #ffffff;
}
.red-bg .mapa p{
    color: #ffffff;
}
.respuestas{
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #C2113B #DADADA;
    max-height: 320px;
    overflow-x: hidden;
    margin-left: 20px;
}
.fila-cajon{
    display: table;
    width: 98%;
    margin: 1.2em auto;
}
.fila-cajon:hover .cajon{
    background: #C2113B;
    color: #ffffff;
}
.fila-cajon .cajon.blue{
    background: #022869;
    color: #ffffff;
}
.fila-cajon:hover .cajon.white{
    background: #ffffff;
}
.cajon{
    background:#F9F9F9 ;
    font-size: 20px;
    padding: 0.5em 0.3em 0.5em 1em;
    border-radius: 0.5em;
    display: table-cell;
    vertical-align: middle;
}
.cajon.ask{
    font-family:'SourceRegular';
    width: calc(70% - 20px);      
}
.cajon.ask.mini{
    width: calc(50% - 20px);
}
.cajon.white{
    background: #ffffff;
    width: 3%;
}
.cajon.ans{
    font-family:'SourceSemiBold';
    text-align: center;
    font-size: 17px;
    width: 20%;
    padding-left: 10px;
    margin-right: 20px;  
    padding-right: 20px;
}
.cajon.ans.maxi{
    width: 40%;
}
.respuestas.full{
    margin: 1em;
    max-height: 450px;
    padding: 1.5em 1em 1em;
    overflow-y: auto;
}
.cajon .mapa h4{
    font-size: 19px;
    padding: 0;
    color: #ffffff;
}
.respuestas.full .cajon.ask{
    font-family:'SourceRegular';
    width: calc(50% - 20px);
}
.respuestas.full .cajon.white{
    width: 2%;
}
.respuestas.full .cajon.ans{
    width: 26%;    
}
.respuestas.full .cajon.ans2{
    font-family:'SourceSemiBold';
    text-align: center;
    font-size: 17px;
    width: 20%;
    padding-left: 10px;
    position: relative;
}

.respuestas.full .cajon.ans.blue{
    width: 25%;    
}
.respuestas.full .cajon.ans2.blue{
    font-family:'SourceSemiBold';
    text-align: center;
    font-size: 17px;
    width: 25%;
    padding-left: 10px;
    position: relative;
}
.respuestas.full .cajon.ans svg{
    position: absolute;
    bottom: -35px;
    left: 0;
}
.respuestas.full .cajon.ans2 svg{
    position: absolute;
    bottom: -35px;
    left: 0;
}
/* Works on Chrome, Edge, and Safari */
.respuestas::-webkit-scrollbar {
    width: 15px;
}
  
.respuestas::-webkit-scrollbar-track {
    background: #DADADA;
}
  
.respuestas::-webkit-scrollbar-thumb {
    background-color: #C2113B;
    border-radius: 20px;
    border: 3px solid #DADADA;
    height: 30px;
}
.respuestas .row{
    display: flex;
}

.respuestas .preguntas {
    min-height: 70px;
    overflow-y: hidden;
    height: fit-content;
    padding: 0;
}
.respuestas .preguntas ul{
    margin-bottom: 0;
}
.respuestas .preguntas.resultado li{    
    margin-right: 20px;
    display: inline-flex;
}
.respuestas .preguntas li a{
    font-family:'SourceRegular';
    display: inline-flex;
}
.respuestas .preguntas a.resultado{
    font-family:'SourceBold';
    text-align: center;
    width: 20%; 
    display: block;     
    float: right;   
    margin-right: 10px;   
}
.respuestas.full .preguntas a.resultado{
    font-family:'SourceBold';
    text-align: center;
    width: 15%; 
    display: block;     
    float: right;   
    margin-right: 10px;   
}
.respuestas.full .preguntas a.resultado2{
    font-family:'SourceBold';
    text-align: center;
    width: 15%; 
    display: block;     
    float: right;   
    margin-right: 10px;   
    border-right: 10px solid #ffffff;
}
.respuestas li{
    background: #f9f9f9;
    text-decoration: none;
    color: #464646;
    display: block;
    margin: 0.5em 1em 0;
    border-radius:0.5em ;
}
.respuestas .preguntas li a{
    background: transparent;
    text-decoration: none;
    color: #464646;
    display: inline-flex;            
    border-radius: 0;
    padding: 0.7em 0.5em;
    margin: 0;
}
.respuestas .preguntas li:hover{
    background: #C2113B;    
}
.respuestas .preguntas li:hover a{
    color: #ffffff;
}
.respuestas.full .preguntas li:hover a{
    color: #ffffff;
    background: #C2113B;
}
.respuestas .preguntas a.question{
    width: calc(80% - 20px);
    border-right: 5px solid #ffffff;
}
.respuestas.full .preguntas a.question{
    width: calc(70% - 20px);
    border-right: 10px solid #ffffff; 
    border-radius: 0.5em 0  0 0.5em;   
}
.respuestas.full li a {
    background: #f9f9f9;
    text-decoration: none;
    color: #464646;            
}
.respuestas .preguntas li a:active,
.respuestas .preguntas li a.selected,
.respuestas .preguntas li a:focus{
    background: transparent;    
    box-shadow: none;
}
.respuestas.full .preguntas li a:active,
.respuestas.full .preguntas li a.selected,
.respuestas.full .preguntas li a:focus{
    background: #C2113B;    
    box-shadow: none;
}
.respuestas .preguntas li a:hover{
    background: transparent;    
    box-shadow: none;
}
.preguntas{
    height: 240px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #474747 #DADADA;
    padding: 0 0 10px 0;
}
.preguntas ul{
    margin-left: 20px;
    list-style: none;
    padding: 0;
}
.preguntas li a{
    background: #f9f9f9;
    text-decoration: none;
    color: #464646;
    display: block;
    font-size: 1.5em;
    padding: 0.7em 1em;    
    margin: 0.5em 0.2em;
    border-radius: 0.5em;
}
.preguntas li a:active,
.preguntas li a.selected,
.preguntas li a:focus,
.preguntas li a:hover{
    background: #022869;
    color: #ffffff;
    box-shadow: 1px 1px 5px rgba(19, 19, 19, 0.863);
}
.preguntas.red-bg li a:active,.preguntas.red-bg li a:focus{
    background: #C2113B;
    color: #ffffff;
}
.preguntas.red-bg li a:active,
.preguntas.red-bg li a:focus,
.preguntas.red-bg li a:hover{
    background: #C2113B;
    color: #ffffff;
}

  
/* Works on Chrome, Edge, and Safari */
.preguntas::-webkit-scrollbar {
    width: 15px;
}
  
.preguntas::-webkit-scrollbar-track {
    background: #DADADA;
}
  
.preguntas::-webkit-scrollbar-thumb {
    background-color: #474747;
    border-radius: 20px;
    border: 3px solid #DADADA;
}

.btn-secondary,.btn-secondary:hover,.btn-secondary:focus,.btn-secondary:active{
    background: #022869;
    color: #ffffff;
    border-radius: 15px;
    width: 90%;
    padding: 0.35em 1em;
    margin: 1em auto;
}
.btn-lateral,
.btn-lateral:hover,
.btn-lateral:focus,
.btn-lateral:active{
    background: #0065ba;
    color: #ffffff;
    border-radius: 10px;
    width: 100%;
    padding: 0.5em 0.5em;
    margin: 1em auto;
    max-width: 245px;
    box-shadow: 1px 1px 5px rgba(19, 19, 19, 0.863);
    font-size: 1.2em;
}
.btn-lateral.red-bg,
.red-bg.btn-lateral:hover,
.red-bg.btn-lateral:focus,
.red-bg.btn-lateral:active{
    background: #C2113B;
}
.btn-lateral img{
    width: 22px;
    margin-left: -10px;
    margin-right: 10px;
}
.dropdown-menu{
    width: max-content;
}
.dropdown-toggle::after {
	display: inline-block;
	margin-left: auto;
}
select option{
    font-family:'SourceBold';
}

.mapcontainer{
    width: 100%;    
    padding-top: 2em;        
    max-height: 760px;
    height: auto;
}
.mapael .map{    
    position: relative;
    max-height: 760px;
    width: 100%;
}
.map svg{    
    display: block;
    margin: 0 auto; 
    width: 93%;  
    max-height: 770px;  
}
.map.map_small svg{    
    display: block;
    margin: 0 auto; 
    width: 93%;  
    max-height: 465px;  
}
.mapael.red .map{    
    position: relative;
    max-height: 650px;
    width: 100%;
}
.mapcontainer.red{
    max-height: 450px;
}
.map.red svg{    
    max-height: 430px;    
}
.red .zoomButton{
    color:#C2113B;
}
.zoomButton{
    font-family:'SourceBlack';
    position: absolute;
    left: 25px;
    font-size: 1.5em;
    box-shadow: 1px 1px 10px #a6a6a6b6;
    color: #022869;
    padding: 5px 10px;
    width: 30px;
    text-align: center;
    border-radius: 5px;
    background: #ffffff;
}
.zoomButton.zoomReset{
    top: 0;
}
.zoomButton.zoomIn{
    top:45px;
}
.zoomButton.zoomOut{
    top:90px;
}
.red .zoomButton{
    right: 0;
    left: 90%;
}

.mapael .mapTooltip {
    font-family:'SourceBold';
    position: absolute;
    background-color: #ffffff;            
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    max-width: 200px;
    display: none;    
    border: 1px solid #a6a6a6;
    text-align: center;
}
.apexcharts-tooltip {    
    color: #474747;
}
.video video{
    width: 100%;
}
.ficha .modal-header,
.video .modal-header{
    padding: 0;
}
.ficha .modal-content
,.video .modal-content{
    background: transparent;
    border: none;
}
.ficha .modal-body img {
    width: auto;
    margin: 0 auto;
    display: block;
}
.ficha .btn-close,
.video .btn-close{
    font-size: 5em;
    color: #ffffff;
    opacity: 1;
    background: none;
}
.ficha .btn-close:hover,
.video .btn-close:hover {
    color: #ffffff;
    text-decoration: none;
    opacity: 1;
}
.adp-hg{
    height: 100%;
}
.adp-hg2{
    height: 100%;
}
/*graficas*/
/*the container must be positioned relative:*/
.form-select{    
    width: 95%;
    background: #022869;
    color: #ffffff;
    border-radius: 15px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position:98% center;
    background-size: 1rem;
    padding-right: 5px;
}
.custom-select.ext {
    margin-top: 1.5em;
    margin-right: 20px;
    margin-left: 20px;
}
.custom-select.extr{
    margin-top: 1.5em;
    margin-left: 1em;
}
.comparacion .custom-select.extr{
    margin-top: 1em;
}
.ext .select-selected{
    width: 100%;
}

.custom-select {
    position: relative;
    font-family:'SourceBold';
    margin-right: 15px;
}
  
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
  
.select-selected {
    background-color: #022869;
    border-radius: 10px;
    font-size: 1.3em;
}

.extr .select-selected {
    background-color: #C2113B;
    border-radius: 10px;
    font-size: 1.3em;
}
.red-bg .extr .select-selected {
    background-color: #ffffff;
    color: #BA0C2F;
}
.red-bg .extr .select-selected:after {
    border: 6px solid #BA0C2F;
    border-color: #BA0C2F transparent transparent transparent;
}
  /*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 16px;
    right: 20px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


  
  /*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
  
  /*style the items (options), including the selected item:*/
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    width: 95%;
    margin: 0 auto;
}
.select-items div{
    color: #474747;
    padding: 8px 16px;    
    background-image: linear-gradient(to right, #c1c1c1 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-size: 3px 1px;
    background-repeat: repeat-x;
    border-color: transparent transparent rgb(0, 0, 0) transparent;
    cursor: pointer;
    user-select: none;
    font-size: 1.1em;
}
  
  /*style items (options):*/
.select-items {
    position: absolute;
    background-color: #ffffff;
    color:#474747;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;   
    box-shadow: 1px 1px 5px #c5c5c5;
}
.extr .select-items div{
    font-size: 1.3em;
    border-bottom: 1px dotted #B20E35;
}
.extr .select-items {    
    width: 95%;
    margin: 0 auto;
}  
  /*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
  
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;    
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: #ffffff;
  }
  
  
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.apexcharts-legend-text{
    font-family:'SourceBold' !important;
}



@media screen and (max-width:1640px) {
    .logo {
        max-width: 320px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .separador{
        height: 70px;
    }
    .olvido{
        font-size: 1.5em;
    }
    .respuestas {
        max-height: 75%;
    }
    .adp-hg{
        height: 98%;
    }
    
}
@media screen and (max-width:1595px){
    .adicional p{
        margin-bottom: 0;
    }    
    .adp-hg2 {
        height: 96%;
    }
}
@media screen and (max-width:1500px) {
    .blue-info .info-box.init{
        margin-left: 2em;    
    }    
}
@media screen and (min-width:1440px){
    .encuesta{
        display: none;
    }
    .datos1{
        display: block;
    }
           
}
@media screen and (max-width:1440px) {
    .blue-info.red-bg.comparacion {
        margin-top: 0;
    }
    .info-box .pin{
        width: 60px;
    } 
    .info-box p {        
        width: 95%;
    }
    .red-bg .info-box p{
        margin: 0;
        height: 85px;
    }
    .extr .select-selected:after {
        right: 12px;
    }
    .blue-info .info-box.init{
        margin-left: 1em;    
    }
    .blue-info .info-box.middle{
        margin-left: -3em;    
    }
}
@media screen and (max-width:1399px) {
    .separador{
        height: 0;
    }
    .encuesta{
        display: inline-block;
    }
    .datos1{
        display: none;
    }
    
    form{
        width: 90%;        
    }
    .respuestas.full .preguntas a.resultado2{
        border: none;
    }
    .adicional p{
        margin-bottom: 1rem;
    }
    .adp-hg{
        height: 96%;
    }
    .info-box p{
        height: 60px;
        padding: 0 0.6em;
    }
    .blue-info .info-box.init{
        margin-left: -1em;    
    }
    .blue-info .info-box.middle{
        margin-left: -3em;    
    }
    .info-box.finish .pin {        
        left: 60px;
    }
}
@media screen and (max-width:1280px) {
    .info-box .punto{
        width: 60px;
        height: 60px;
    }
    .map{
        max-height: 560px;        
    }
    .map svg{
        max-height: 560px;        
    }
    .mapcontainer{        
        max-height: 560px;
        padding-top: 1em;
    }
}
@media screen and (max-width:1024px) {
    .logo {
        padding-top: 20px;
        padding-bottom: 40px;
        max-width: 80%;
    }
    .mapa h4{
        text-align: center;
        padding: 0;
    }
    .form-select{
        margin: 0 auto;
    }
}
@media screen and (max-width:992px) {    
    .left{
        overflow-y:auto;
        position: relative;
        overflow-x: hidden;
    }    
    .login-form {
        position: absolute;
        top: 240px;
        background: rgba(255, 255, 255, 0.7);
        left: 20%;
        overflow-y: hidden;
        width: 60%;
        padding-bottom: 4em;
        max-width: 100%;
    }
    .login {
        max-width: 90%;
        margin: 0 auto;
    }
    .imagen{
        overflow: hidden;
    }
    .info-box .punto {
        height: 50px;
        width: 50px;
    }    
    .btn-secondary {
        margin: 0 auto;
        display: block;
    }
    .info-box .punto {
        margin: 1em 0.1em 1em 0.2em;        
    }
    
}
@media screen and (max-width:991px) {    
    .columna2 {        
        width: 100%;        
        padding: 30px 10px;
        overflow-x: hidden;
    }
    .adicional{
        max-width: 400px;
        margin-left: 0;
    }
    .menu-mb{
        position: relative;
        height: 125px;
        background: #ffffff;
        width: 104%;
        z-index: 10;
    }
    .menu-mb .logo{
        width: 50%;
        margin: 1em auto;
        padding: 5px 0;
    }
    .menu-mb .logo img{
        width: 80%;
    }
    .hb-menu{
        position: relative;
        display: inline-block;
        margin: 3.3em auto;
        width: 100%;
    }
    .hb-menu svg{        
        fill: #022869;
        margin: 1em auto 1em 2em;
        width: 50px;        
    }
    .hb-menu img{
        position: absolute;
        width: 200px;
        left: 50%;
        top: 2.5em;
        transform: translate(-50%,-50%);        
    }
    .menu-mb .menu-lateral{
        position: absolute;
        z-index: 10;
        top: 125px;
    }
    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:#253150e0;
        z-index: 3;
        cursor: pointer;
        transition: 0.5s;
    }
    .red-bg .mapa p {
        margin: 0;
        text-align: center;
    }
    .info-box .pin{
        width: 50px;
    }
    
}
@media screen and (max-width:767px) { 
    .btn-dash {        
        margin: 0 auto;
        display: block;
    }
    .blue-info{
        height: auto;
    }
    .blue-info .col-8 {
        border-right: none;
    }
    .blue-info .col-9 {
        border-right: none;
    }
    .blue-info .info-box.init {
        margin-left: auto;
    }
    .blue-info .info-box.middle {
        margin-left: auto;
    }
    .custom-select.ext {
        margin-top: 0em;
    }
    .menu-mb .logo {
        width: 80%;
        margin: 1em auto;
        padding: 5px 0;
    }
    .respuestas.full .cajon.ask {        
        width: calc(45% - 0px);
    }
    .respuestas.full .cajon.ans {
        width: 20%;
    }
    .respuestas.full .cajon.ans2 {        
        width: 20%;
        padding-left: 5px;
    }
    .adicional p {        
        text-align: center;
    }
    .box-title h1 {
        font-size: 1.9em;
        width: 90%;        
    }
    .blue-info .info-box {        
        max-width: 100%;  
        padding: 0;  
        margin: 0.1em;    
    }
    .info-box p {
        height: 35px;        
    }
    .adicional {
        max-width: 100%;
        height: 170px;        
    }
}

@media screen and (max-width:480px) { 
    .blue{
        padding: 3em 1em;
    }
    .logo {        
        padding-bottom: 20px;
        max-width: 60%;
    }
    .login-form {
        position: absolute;
        top: 290px;
        background: rgba(255, 255, 255, 0.7);
        left: 5%;
        overflow-y: hidden;
        width: 90%;
        padding-bottom: 4em;
        max-width: 100%;
    }
    .login h3,.form-label {
        color: #6f6f6f;
    }
    .btn-dash{
        font-size: 20px;
    }
    .adicional{
        max-width: 100%;
        margin-left: 0;
    }
    .menu-mb{        
        width: 108%;        
    }
    .menu-lateral {
        width: 100%;
    }
    .menu-selector{
        max-width: 245px;
    }
    .blue-menu h2{
        max-width: 245px;
    }
}
@media screen and (max-height:650px){
    .logo {
        max-width: 300px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .login h3 {        
        margin-bottom: 0.3em;
    }
    .separador-25 {
        height: 15px;
    }
    .form-control {
        height: 50px;        
    }
    .adp-hg{
        height: 96%;
    }
}
