@font-face {
    font-family:'SourceBold';
    src:url('../fonts/SourceSansPro-Bold.ttf');
}
@font-face {
    font-family:'SourceSemiBold';
    src:url('../fonts/SourceSansPro-SemiBold.ttf');
}
@font-face {
    font-family:'SourceRegular';
    src:url('../fonts/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family:'SourceLight';
    src:url('../fonts/SourceSansPro-Light.ttf');
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'SourceRegular';
    font-size: 12px;
    overflow: hidden;
}
.container-fluid{
    padding: 0;
}
.blue{
    display: block;
    background: #012869;
    width: 100%;
    padding: 3em 0;
}
.red{
    color: #c2113b !important;
}
h1{
    font-family:'SourceBold';
    font-size: 2.2em;    
    text-align: center;    
}
h2{
    font-family:'SourceBold';
    font-size: 1.7em;
    text-align: center;
    color: #ffffff;
    max-width: 700px;
    margin: 0 auto;
}
h2 span{
    display: block;   
    height: 6px;
    width: 85px;
    margin: 1em auto; 
    background:#b20e35 ;
}
.left{
    height: 100vh;
    overflow: hidden; 
}
.right{
    height: 100vh;
    overflow: hidden; 
}
.logo{
    padding-top: 120px;
    padding-bottom: 85px;
    max-width: 390px;
    margin: 0 auto;
    display: block;
}
.logo-left{
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 250px;
    margin: 0 auto;
    display: block;
}
.blue-menu{
    background: #011e52;
    padding: 0;
}
.red-menu{
    background: #af0c2d;
    padding: 0;
}
.gray-menu{
    background: #dadada;
    padding: 0;
}
.blue-menu h2,.red-menu h2{
    font-size: 1.2em;
    max-width: 240px;
    margin: 0 auto;
    padding: 1em 0;
}
.box-select{
    background: #012869;
    display: block;
    width: 100%;
    padding: 0.5em 1.4em;
}
.box-select .form-select{
    margin: 1em auto;
    background: #0065ba;
    color: #ffffff;
    border: none;
    box-shadow: 1px 1px 5px #000;
    max-width: 245px;
}
.box-message{
    border-left: 4px solid #0065ba;
    background: rgb(0,31,82);
    background: linear-gradient(90deg, rgba(0,31,82,1) 0%, rgba(1,54,122,1) 35%); 
}
.box-message h3{
    color: #ffffff;
    font-size: 1.2em;
    padding: 0.5em 1em;
    text-align: center;
}
.box-buttons{    
    padding: 2em 0;    
}
.box-buttons a{
    display: block;
    width: 90%;
    margin: 1em auto;
    background: #ffffff;
    color: #012869;
    text-align: left;
    padding: 0.5em 0;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 0.5em;
    max-width: 245px;
    box-shadow: 1px 1px 5px rgba(19, 19, 19, 0.863);
}
.box-buttons a.btn-light-blue{
    background: #0065ba;
    color: #ffffff;
    border-radius: 10px;
    width: 100%;
    padding: 0.5em 0.5em;
    margin: 1em auto;
    max-width: 245px;
    box-shadow: 1px 1px 5px rgba(19, 19, 19, 0.863);
}
.box-buttons img{
    width: 20px;
    margin-left: 10px;   
    margin-right: 5px; 
}
.red-menu .box-buttons a{
    color: #464646;
}
.red-menu .box-buttons{
    background: #c2113b;
}
.imagen{
    background: #e8f0f9;
    padding-top: 1em;
}
.login{
    max-width: 615px;
    margin: 0 auto;
}
.login h3{
    font-family:'SourceSemiBold';
    color: #a6a6a6;
    font-size: 1.6em;
    margin-bottom: 1em;
}
.form-label{
    font-size: 1.4em;
    color: #a6a6a6;
    padding: 0.5em 0;
    max-width: 550px;
    margin: 0 auto;
    display: block;
    width: 100%;

}
.form-control{
    max-width: 550px;
    margin: 0 auto;
    height: 60px;
    border-radius: 0.8em;
}
.separador-25{
    height: 25px;
}
.separador{
    height: 100px;
}
.btn-dash{
    font-family:'SourceBold';
    background: #012869;
    color: #ffffff;
    width: 230px;
    letter-spacing: 5px;
    padding: 1em 0;
    text-transform: uppercase;   
    border-radius: 0.8em; 
    max-width: 100%;
}
.btn-dash:hover{
    color: #ffffff;
}
.olvido{
    color: #b20e35;
    text-align: center;
    font-size: 1.3em;
    margin-top: 0.8em;
    cursor: pointer;
    width: 100%;
    padding: 0 0.8em;
}
.modal-header{
    position: relative;
    border: none;
}
.close{
    position: absolute;
    top: 0.5em;
    right: 0.5em;    
}
.close img{
    max-width: 30px;
}
.modal-header h5{
    text-align: center;
    font-size: 3.3em;
    color: #012869;
    font-weight: lighter;
    line-height: 1.1em;
}
.modal-header h5 span{
    display: block;   
    height: 6px;
    width: 85px;
    margin: 1em auto 0; 
    background:#b20e35 ;
}
.modal-body p{
    font-size: 1.8em;
    text-align: center;
    font-weight: lighter;
    color: #012869;
    width: 90%;
    margin: 0 auto;
}
.modal-body form{
    margin: 2em auto;
}
.modal-body button{
    display: block;
    margin: 2em auto;
}


/*Contenido*/
.columna1 {
    float: left;
    width: 15%;     
} 
.columna2 {
    float: left;
    width: 80%;   
    margin-left: 5em;  
}  
  /* Clear floats after the columns */
.fila:after {
    content: "";
    display: table;
    clear: both;
}
.box-title{
    background: #ffffff;
    box-shadow: 1px 1px 10px #a6a6a6b6;
    margin: 2em auto 0 0;
    border-radius: 1em;
    color: #012869;
    width: 100%;
}
.box-title.red{
    color: #c2113b;
}
.box-title h1{
    font-size:2em;
    padding: 0.8em 0;
    margin: 0;
}
.box-title .linea{
    height: 1px;
    width: 100%;
    display: block;
    background:#dedede;
}
.box-title h2{
    font-family:'SourceLight';
    color: #012869;
    max-width: 80%;
    padding: 1em 0;    
}
.blue-info{
    background: #012869;
    border-radius: 0.8em;
    width: 100%;
    margin-top: 1.5em;
}
.blue-info.red-bg{
    background: #c2113b;
}
.blue-info .info-box{
    border-left: 1px solid #ffffff;
    padding: 1em 0;
    margin: 1em 0;
}
.blue-info .info-box.primero{
    border-left: none;
}

.info-box .punto{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background: #ffffff;
    margin: 1em 0 1em auto;
    display: block;
}
.info-box p{
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    max-width: 120px;
}
.info-box .numero{
    font-family:'SourceBold';
    font-size: 3.8em;
    color: #ffffff;
    margin: 0;
}
.adicional{
    background: #0065ba;
    border-radius: 0.8em;
    width: 100%;
    margin-top: 1.5em;
    padding: 0.4em 0;
}
.adicional.red-bg{
    background: #c2113b;
}
.adicional p{
    font-family:'SourceBold';
    color: #ffffff;
    font-size: 1.6em;
    margin-left: 0.7em;
}
.adicional span{
    color: #0065ba;
    margin-right: 0.5em;
}
.adicional .box-buttons{
    padding: 0em 0;
}
.util-box{
    background: #ffffff;
    box-shadow: 1px 1px 10px #a6a6a6b6;
    margin-top: 2em;
    border-radius: 1em;
}
.util-box.blue-bg{
    background: #012869;
}
.util-box.red-bg{
    background: #c2113b;
}
.util-box.blue-bg h4,
.util-box.red-bg h4{
    font-family:'SourceBold';
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 20px;
}
.util-box.blue-bg h4.border-aux
{
    margin-left: 0;
    border-bottom: 1px solid #a6a6a6;
}
.util-box.red-bg h4.border-aux-w{
    margin-left: 0;
    border-bottom: 1px solid #ffffff;
}
.util-box.red-bg p{
    color: #ffffff;
    font-size: 1.2em;
    width: 90%;
    margin: 0 auto;
}
.respuesta{
    font-family:'SourceBold';
    background: #ffffff;
    box-shadow: 1px 1px 5px rgba(19, 19, 19, 0.863);
    border-radius: 0.2em;
    font-size: 5em;
    max-width: 250px;
    margin: 0.6em auto;
    padding: 0.1em 0;
    text-align: center;
}
.respuesta.empty{
    box-shadow: none;
    margin: 0 auto 0.5em;    
}
.mapa h4{
    font-family:'SourceBold';
    color: #012869;    
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 1.5em;
    padding-top: 20px;
}
.mapa p{
    margin-left: 20px;
    color: #464646;
    font-size: 1.2em;
}
.adj-width{
    width: 70%;
    margin: 0 auto;
}
.preguntas{
    height: 330px;
    overflow-y: scroll;
}
.preguntas ul{
    margin-left: 20px;
    list-style: none;
    padding: 0;
}
.preguntas li a{
    background: #f9f9f9;
    text-decoration: none;
    color: #464646;
    display: block;
    font-size: 1.3em;
    padding: 0.7em 1em;
    border-radius: 0.2em;
    margin: 0.5em 0.2em;
    border-radius: 0.5em;
}
.preguntas li a:active,.preguntas li a:focus{
    background: #012869;
    color: #ffffff;
}
.preguntas.red-bg li a:active,.preguntas.red-bg li a:focus{
    background: #c2113b;
    color: #ffffff;
}
.btn-secondary,.btn-secondary:hover,.btn-secondary:focus,.btn-secondary:active{
    background: #012869;
    color: #ffffff;
    border-radius: 15px;
    width: 90%;
    padding: 0.35em 1em;
    margin: 1em auto;
}
.btn-lateral,
.btn-lateral:hover,
.btn-lateral:focus,
.btn-lateral:active{
    background: #0065ba;
    color: #ffffff;
    border-radius: 10px;
    width: 100%;
    padding: 0.5em 0.5em;
    margin: 1em auto;
    max-width: 245px;
    box-shadow: 1px 1px 5px rgba(19, 19, 19, 0.863);
    font-size: 1.2em;
}
.btn-lateral.red-bg,
.red-bg.btn-lateral:hover,
.red-bg.btn-lateral:focus,
.red-bg.btn-lateral:active{
    background: #c2113b;
}
.btn-lateral img{
    width: 22px;
    margin-left: -10px;
    margin-right: 10px;
}
.dropdown-menu{
    width: 90%;
}
#map_inner a{
    color: transparent !important;
    position: absolute;
    left: -100000px;
    z-index: -10;
}
@media screen and (max-width:1440px) {
    .logo {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}
@media screen and (max-width:1024px) {
    .logo {
        padding-top: 20px;
        padding-bottom: 40px;
        max-width: 80%;
    }
}
@media screen and (max-width:992px) {    
    .left{
        overflow-y:auto;
        position: relative;
        overflow-x: hidden;
    }    
    .login-form {
        position: absolute;
        top: 240px;
        background: rgba(255, 255, 255, 0.7);
        left: 20%;
        overflow-y: hidden;
        width: 60%;
        padding-bottom: 4em;
        max-width: 100%;
    }
    .login {
        max-width: 90%;
        margin: 0 auto;
    }
    .imagen{
        overflow: hidden;
    }
}
@media screen and (max-width:767px) { 
    .btn-dash {        
        margin: 0 auto;
        display: block;
    }
}

@media screen and (max-width:480px) { 
    .blue{
        padding: 3em 1em;
    }
    .logo {        
        padding-bottom: 20px;
        max-width: 60%;
    }
    .login-form {
        position: absolute;
        top: 290px;
        background: rgba(255, 255, 255, 0.7);
        left: 5%;
        overflow-y: hidden;
        width: 90%;
        padding-bottom: 4em;
        max-width: 100%;
    }
    .login h3,.form-label {
        color: #6f6f6f;
    }
}